.homemenu{
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 100;

  a{
    font-size: 1.8em;
  }

  &__left{
    margin-top: 300px;
    padding: 10px;
    float: left;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }

  &__right{
    margin-top: 300px;
    padding: 10px;
    float: right;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
  }
}
