.section-two {

  background-image: url('../img/homeb2.png');
  background-position: center;
    padding-left: 29%;
}

.section-two > .fp-tableCell h2 {
  transform: translateY(-1000px);
	opacity: 0;
	transition: transform .8s cubic-bezier(0.16, 0.68, 0.43, 0.99),
				opacity .5s ease-in-out;
  font-size: 5em;
  color: #b078ed;
  position: absolute;
  margin-left: 200px;
  margin-right: auto;
  margin-top: 300px;
  left: 0;
  right: 0;
}

.section-two.active > .fp-tableCell h2 {
	transform: translateY(0);
	opacity: 1;
}

.section-two > .fp-tableCell .img1,
.section-two > .fp-tableCell .img2,
.section-two > .fp-tableCell .img3,
.section-two > .fp-tableCell .img4 {

	transform: translateX(50%);
	opacity: 0;
	transition: transform .8s cubic-bezier(0.16, 0.68, 0.43, 0.99),
				opacity 0.5s ease-in-out;
}

.section-two > .fp-tableCell .img1{
  transform: translateX(0) translateY(0);
	transform: translateY(-500px);
  background-image: url('../../img/FinishBowie/bowiehangend.jpg');
  background-size: 900px;
  background-position: center;
  background-repeat: no-repeat;
  height: 60%;
  width: 15%;
  object-fit: cover;
  object-position: 50% 50%;
  object-position: 0 0;
  float: left;
  margin-top: 200px;
}

.section-two > .fp-tableCell .img2{
  transform: translateX(0) translateY(0);
	transform: translateY(500px);
  background-image: url('../../img/FinishPrince/princehangend.jpg');
  background-size: 900px;
  background-position: center;
  background-repeat: no-repeat;
  height: 60%;
  width: 15%;
  object-fit: cover;
  object-position: 50% 50%;
  object-position: 0 0;
  float: left;
  margin-top: 100px;
}

.section-two > .fp-tableCell .img3 {
	transform: translateX(0) translateY(0);
	transform: translateY(-500px);
  background-image: url('../../img/FinishRollingstones/rollingstonesclose.jpg');
  background-size: 500px;
  background-position: center;
  background-repeat: no-repeat;
  height: 60%;
  width: 15%;
  object-fit: cover;
  object-position: 50% 50%;
  object-position: 0 0;
  float: left;
  margin-top: 250px;
}

.section-two > .fp-tableCell .img4{
	transform: translateX(0) translateY(0);
	transform: translateY(500px);
  background-image: url('../../img/FinishBowie/bowiehangend.jpg');
  background-size: 900px;
  background-position: center;
  background-repeat: no-repeat;
  height: 60%;
  width: 15%;
  object-fit: cover;
  object-position: 50% 50%;
  object-position: 0 0;
  float: left;
  margin-top: 150px;
}

.section-two.active > .fp-tableCell .img1,
.section-two.active > .fp-tableCell .img2,
.section-two.active > .fp-tableCell .img3,
.section-two.active > .fp-tableCell .img4 {
	transform: translateX(0);
	opacity: 1;
}

.section-two.active > .fp-tableCell .img1 {
	transition-delay: .2s;
}

.section-two.active > .fp-tableCell .img2 {
	transition-delay: .4s;
}

.section-two.active > .fp-tableCell .img3 {
	transition-delay: .6s;
}

.section-two.active > .fp-tableCell .img4 {
	transition-delay: .8s;
}
