
.section-one {
  background-image: url('../img/homeb.png');
  background-position: center;
}

.section-one > .fp-tableCell h2 {
	transform: translateY(-1000px);
	opacity: 0;
	transition: transform .8s cubic-bezier(0.16, 0.68, 0.43, 0.99),
				opacity .5s ease-in-out;
  background-image: url('../img/studiotesslogowit.png');
  background-repeat: no-repeat;
  background-size: 500px;
  height: 400px;
  width: 500px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  margin-top: 350px;
  left: 0;
  right: 0;
}

.section-one.active > .fp-tableCell h2 {
	transform: translateY(0);
	opacity: 1;
}

.section-one > .fp-tableCell .img1,
.section-one > .fp-tableCell .img2,
.section-one > .fp-tableCell .img3,
.section-one > .fp-tableCell .img4 {
  margin-top: 200px;
	transform: translateX(50%);
	opacity: 0;
	transition: transform .8s cubic-bezier(0.16, 0.68, 0.43, 0.99),
				opacity 0.5s ease-in-out;
}

.section-one > .fp-tableCell .img1{
	transform: translateX(1000px);
  background-color: #c098ac;
  border: 5px dashed #000;
  background-size: 400px;
  height: 400px;
  width: 400px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 400px;
  top: 150px;
}

.section-one > .fp-tableCell .img2{
	transform: translateX(-1000px);
  background-color:#d2bcfb;
  background-size: 700px;
  border: 5px dotted #000;
  height: 450px;
  width: 400px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 400px;
  right: 0;
}

.section-one > .fp-tableCell .img3 {
	transform: translateX(0) translateY(0);
	transform: translateY(-500px);
  background-image: url('../../img/draad.png');
  background-repeat: no-repeat;
  background-size: 400px;
  height: 400px;
  width: 400px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: -50px;
}

.section-one > .fp-tableCell .img4{
	transform: translateX(0) translateY(0);
	transform: translateY(500px);
  background-color: #f5d2e3;
  border: 5px solid #000;
  height: 350px;
  width: 350px;
  position: absolute;
  margin-left: auto;
  margin-left: auto;
  margin-right: auto;
  left: 300px;
  right: 0;
  top: 250px;
}

.section-one.active > .fp-tableCell .img1,
.section-one.active > .fp-tableCell .img2,
.section-one.active > .fp-tableCell .img3,
.section-one.active > .fp-tableCell .img4 {
	transform: translateX(0);
	opacity: 1;
}

.section-one.active > .fp-tableCell .img1 {
	transition-delay: .2s;
}

.section-one.active > .fp-tableCell .img2 {
	transition-delay: .4s;
}

.section-one.active > .fp-tableCell .img3 {
	transition-delay: .6s;
}

.section-one.active > .fp-tableCell .img4 {
	transition-delay: .8s;
}
