
/* ========== SECTION 1 - content animation ========== */
.section-three {
  background-image: url('../img/homeb.png');
  background-position: center;
}

.section-three > .fp-tableCell h2 {
	transform: translateY(-1000px);
	opacity: 0;
	transition: transform .8s cubic-bezier(0.16, 0.68, 0.43, 0.99),
				opacity .5s ease-in-out;
  position: absolute;
  margin-left: 770px;
  margin-top: 450px;
  font-size: 5em;
  color: #fff;
}

.section-three.active > .fp-tableCell h2 {
	transform: translateY(0);
	opacity: 1;
}

.section-three > .fp-tableCell .img1,
.section-three > .fp-tableCell .img2,
.section-three > .fp-tableCell .img3,
.section-three > .fp-tableCell .img4 {
  margin-top: 200px;
	transform: translateX(50%);
	opacity: 0;
	transition: transform .8s cubic-bezier(0.16, 0.68, 0.43, 0.99),
				opacity 0.5s ease-in-out;
}

.section-three > .fp-tableCell .img1{
	transform: translateX(1000px);
  background-color: #f1bfd7;
  border: 5px double #000;
  background-repeat: no-repeat;
  height: 400px;
  width: 400px;
  object-fit: cover;
  object-position: 50% 50%;
  object-position: 0 0;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 400px;
  top: 150px;
}

.section-three > .fp-tableCell .img2{
	transform: translateX(-1000px);
  background: #c7acfb;
    border: 5px dotted #000;
  background-repeat: no-repeat;
  height: 450px;
  width: 400px;
  object-fit: cover;
  object-position: 50% 50%;
  object-position: 0 0;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 450px;
  right: 0;
}

.section-three > .fp-tableCell .img3 {
	transform: translateX(0) translateY(0);
	transform: translateY(-500px);
  background-image: url('../../img/Maat-reparatiewerk/scheur voor en na.jpg');
  background-position: 30% 50%;
  background-repeat: no-repeat;
  height: 400px;
  width: 400px;
  object-fit: cover;
  object-position: 50% 50%;
  object-position: 0 0;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: -50px;
}

.section-three > .fp-tableCell .img4{
	transform: translateX(0) translateY(0);
	transform: translateY(500px);
  background-image: url('../../img/Maat-reparatiewerk/18471770_1296660150387122_64327075_o.jpg');
  background-size: 700px;
  background-position: 10% 20%;
  background-repeat: no-repeat;
  height: 350px;
  width: 350px;
  object-fit: cover;
  object-position: 50% 50%;
  object-position: 0 0;
  position: absolute;
  margin-left: auto;
  margin-left: auto;
  margin-right: auto;
  left: 300px;
  right: 0;
  top: 250px;
}

.section-three.active > .fp-tableCell .img1,
.section-three.active > .fp-tableCell .img2,
.section-three.active > .fp-tableCell .img3,
.section-three.active > .fp-tableCell .img4 {
	transform: translateX(0);
	opacity: 1;
}

.section-three.active > .fp-tableCell .img1 {
	transition-delay: .2s;
}

.section-three.active > .fp-tableCell .img2 {
	transition-delay: .4s;
}

.section-three.active > .fp-tableCell .img3 {
	transition-delay: .6s;
}

.section-three.active > .fp-tableCell .img4 {
	transition-delay: .8s;
}
