
/* ========== SECTION 1 - content animation ========== */
.section-four {
  background-image: url('../img/homeb2.png');
  background-position: center;
  padding-left: 29%;
}

.section-four > .fp-tableCell h2 {
  transform: translateY(-1000px);
	opacity: 0;
	transition: transform .8s cubic-bezier(0.16, 0.68, 0.43, 0.99),
				opacity .5s ease-in-out;
  position: absolute;
  margin-left: 250px;
  margin-right: auto;
  margin-top: 300px;
  left: 0;
  right: 0;
  font-size: 5em;
  color: #b078ed;
}

.section-four.active > .fp-tableCell h2 {
	transform: translateY(0);
	opacity: 1;
}

.section-four > .fp-tableCell .img1,
.section-four > .fp-tableCell .img2,
.section-four > .fp-tableCell .img3,
.section-four > .fp-tableCell .img4 {

	transform: translateX(50%);
	opacity: 0;
	transition: transform .8s cubic-bezier(0.16, 0.68, 0.43, 0.99),
				opacity 0.5s ease-in-out;
}

.section-four > .fp-tableCell .img1{
  transform: translateX(0) translateY(0);
	transform: translateY(-500px);
  background-image: url('../../img/Leerringen/pinsbw2.jpg');
  background-size: 400px;
  background-position: 20% 0%;
  background-repeat: no-repeat;
  height: 60%;
  width: 15%;
  object-fit: cover;
  object-position: 50% 50%;
  object-position: 0 0;
  float: left;
  margin-top: 200px;
}

.section-four > .fp-tableCell .img2{
  transform: translateX(0) translateY(0);
	transform: translateY(500px);

    background-image: url('../../img/Waistbelt/waistbandrood.jpg');
  // background-size: 00px;
  background-position: 50% 60%;
  background-repeat: no-repeat;
  height: 60%;
  width: 15%;
  object-fit: cover;
  object-position: 50% 50%;
  object-position: 0 0;
  float: left;
  margin-top: 150px;
}

.section-four > .fp-tableCell .img3 {
	transform: translateX(0) translateY(0);
	transform: translateY(-500px);
  background-image: url('../../img/Leerringen/ringen.jpg');
  background-size: 400px;
  background-position: 50% 80%;
  background-repeat: no-repeat;
  height: 60%;
  width: 15%;
  object-fit: cover;
  object-position: 50% 70%;
  object-position: 0 0;
  float: left;
  margin-top: 250px;
}

.section-four > .fp-tableCell .img4{
	transform: translateX(0) translateY(0);
	transform: translateY(500px);
    background-image: url('../../img/Etuidone/zwartetuidetail.jpg');
  background-size: 400px;
  background-position: 30% 100%;
  background-repeat: no-repeat;
  height: 60%;
  width: 15%;
  object-fit: cover;
  object-position: 50% 50%;
  object-position: 0 0;
  float: left;
  margin-top: 150px;
}

.section-four.active > .fp-tableCell .img1,
.section-four.active > .fp-tableCell .img2,
.section-four.active > .fp-tableCell .img3,
.section-four.active > .fp-tableCell .img4 {
	transform: translateX(0);
	opacity: 1;
}

.section-four.active > .fp-tableCell .img1 {
	transition-delay: .2s;
}

.section-four.active > .fp-tableCell .img2 {
	transition-delay: .4s;
}

.section-four.active > .fp-tableCell .img3 {
	transition-delay: .6s;
}

.section-four.active > .fp-tableCell .img4 {
	transition-delay: .8s;
}
