
/* ========== SECTION 1 - content animation ========== */
.section-three {
  margin-top: 100px;
}

.section-three > .fp-tableCell h2 {
	transform: translateY(-1000px);
	opacity: 0;
	transition: transform .8s cubic-bezier(0.16, 0.68, 0.43, 0.99),
				opacity .5s ease-in-out;
  background-image: url('http://www.disneystore.co.uk/on/demandware.static/-/Sites-disneyuk-Library/default/dwa0cadff1/img/ui-icons/disney-logo.svg');
  background-repeat: no-repeat;
  height: 300px;
  width: 400px;
  object-fit: cover;
  object-position: 50% 50%;
  object-position: 0 0;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  left: 0;
  right: 0;
}

.section-three.active > .fp-tableCell h2 {
	transform: translateY(0);
	opacity: 1;
}

.section-three > .fp-tableCell .img1,
.section-three > .fp-tableCell .img2,
.section-three > .fp-tableCell .img3,
.section-three > .fp-tableCell .img4 {
	transform: translateX(50%);
	opacity: 0;
	transition: transform .8s cubic-bezier(0.16, 0.68, 0.43, 0.99),
				opacity 0.5s ease-in-out;
}

.section-three > .fp-tableCell .img1{
	transform: translateX(1000px);
  background-image: url('http://wallpaper.pickywallpapers.com/2560x1600/minimal-digital-rain.jpg');
  background-repeat: no-repeat;
  height: 400px;
  width: 400px;
  object-fit: cover;
  object-position: 50% 50%;
  object-position: 0 0;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 400px;
  top: 150px;
}

.section-three > .fp-tableCell .img2{
	transform: translateX(-1000px);
  background-image: url('https://i.imgur.com/bIy3l7l.jpg');
  background-repeat: no-repeat;
  height: 450px;
  width: 400px;
  object-fit: cover;
  object-position: 50% 50%;
  object-position: 0 0;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 400px;
  right: 0;
}

.section-three > .fp-tableCell .img3 {
	transform: translateX(0) translateY(0);
	transform: translateY(-500px);
  background-image: url('http://www.global-nomad.co/567-thickbox_default/vase-minimal-glass.jpg');
  background-repeat: no-repeat;
  height: 400px;
  width: 400px;
  object-fit: cover;
  object-position: 50% 50%;
  object-position: 0 0;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: -50px;
}

.section-three > .fp-tableCell .img4{
	transform: translateX(0) translateY(0);
	transform: translateY(500px);
  background-image: url('http://wallpaper.pickywallpapers.com/1920x1080/minimal-flying-paper-plane.jpg');
  background-repeat: no-repeat;
  height: 350px;
  width: 350px;
  object-fit: cover;
  object-position: 50% 50%;
  object-position: 0 0;
  position: absolute;
  margin-left: auto;
  margin-left: auto;
  margin-right: auto;
  left: 300px;
  right: 0;
  top: 250px;
}

.section-three.active > .fp-tableCell .img1,
.section-three.active > .fp-tableCell .img2,
.section-three.active > .fp-tableCell .img3,
.section-three.active > .fp-tableCell .img4 {
	transform: translateX(0);
	opacity: 1;
}

.section-three.active > .fp-tableCell .img1 {
	transition-delay: .2s;
}

.section-three.active > .fp-tableCell .img2 {
	transition-delay: .4s;
}

.section-three.active > .fp-tableCell .img3 {
	transition-delay: .6s;
}

.section-three.active > .fp-tableCell .img4 {
	transition-delay: .8s;
}
